@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

.media-scroller{
    display: grid;
    --spacer: 1rem;
    gap:var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    padding: 0 var(--spacer) var(--sapcer);


    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element > img{
    object-fit: cover;
    inline-size:100%;
    aspect-ratio: 19/ 15;
    
}

.media-element{
display: grid;
gap: var(--spacer);
grid-template-rows:min-content;
padding: var(--spacer);
background: var(--surface-2);
border-radius: var(--radius-2);
box-shadow: var(--shadow-2);
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--sapcer, 1rem);
}

.snaps-inline > * {
scroll-snap-align:end;
}


.container{
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow{
    display: grid;
    gap: var(--size-3);
}